---
layout: default
title: Welcome To Appsterdam
---

<article>
  <h1>{{ site.embassy.name }}</h1>
  <p>>Bem vindo à página oficial da embaixada do Brasil de Appsterdam</p>
  <p>O melhor lugar do mundo para se tornar um Criador de Apps.</p>
  <div class="quote clearfix"><p></p>
    <blockquote id="mikequote"><p>Se você quer fazer filmes, vá para Hollywood.</p>
      Se você quer fazer musicais, vá para a Broadway.<br>
      Se você quer fazer apps, vá para Appsterdam.</p></blockquote>
    <p id="quotee"><strong>Mike Lee</strong>,&nbsp;Prefeiro e fundador de Appsterdam</p>
    <p></p></div>
  <p>Our goal is to bring app makers together, and our mission is to support their interests worldwide. We established Amsterdam as the capital of Appsterdam – the world capital of apps – to establish a centre of gravity for our industry, to provide a place where all app makers can gather, and to create a framework for people to give back and support the community.</p>
  <p>Nosso objetivo é reunir os criadores de apps e nossa missão é suportar os seus interesses por todo o mundo. Nós instituimos Amsterdam como a capital de Appsterdam - a capital mundial de apps - para estabelecer um centro de gravidade para nossa indústria, para prover um lugar onde todos os criadores de apps podem se reunir, e para criar um framework para as pessoas retribuirem e apoiarem a comunidade.</p>
  <p>
  <a title="Mission Statement" href="https://appsterdam.rs/about/">Leia Mais (em inglês)</a>
  </p>
</article>

{% for post in paginator.posts %}
<article>
  <h1>
    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
  </h1>
  {{ post.content }}
</article>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="/" class="previous">Previous</a>
      {% else %}
        <a href="/pages/page{{ paginator.previous_page }}" class="previous">Previous</a>
      {% endif %}
  {% else %}
    <span class="previous"></span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/pages/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next "></span>
  {% endif %}
</div>

