<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/png" href="/favicon.ico">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <header>
              <a href="/" title="Appsterdam">
                <img src="/img/logo.png">
              </a>
              <nav class="main-menu">
                <ul id="menu-header-menu" class="menu">
                  <li>
                    <a href="/" title="Home">
                      Página Inicial
                    </a>
                    </li>
                    <li>
                    <a href="http://brasil.appsterdam.rs/what-is-appsterdam" title="What is Appsterdam?">
                      O que é Appsterdam?
                    </a>
                    </li>
                    <li>
                    <a href="http://cocoaheads.org/br/SãoPaulo/index.html" title="CocoaHeads">
                      CocoaHeads SP
                    </a>
                    </li>
                  <li>
                    <a href="/contact" title="Home">
                      Contato
                    </a>
                  </li>
                  <li>
                    <a href="http://appsterdam.rs" title="The Official Appsterdam Website">
                      Appsterdam
                    </a>
                  </li>
                </ul>
              </nav>
              <br/>
              <br/>
              <br/>
              <nav class="social-menu">
                <ul id="menu-social-media-menu" class="menu">
                  <li class="facebook">
                    <a href="{{ site.embassy.social.facebook.url }}">Facebook</a>
                  </li>
                  <li class="menu-item">
                    <a href="{{ site.embassy.social.twitter.url }}">Twitter</a>
                  </li>
                  <li class="github">
                    <a href="{{ site.embassy.social.github.url }}">Github</a>
                  </li>
                </ul>
              </nav>
              <footer>
                &copy; Stichting Appsterdam 2014<br>
                <nav class="footer-menu">
                  <ul id="menu-footer-menu" class="menu">
                    <li>
                      <a href="/privacy-policy">Privacidade</a>
                    </li>
                    <li>
                      <a href="/terms-and-conditions">Termos e Condições</a>
                    </li>
                  </ul>
                </nav>
              </footer>
            </header>
            <section class="content">
                {{ content }}
            </section>
        </div>

    </body>
</html>
